.container {
    max-width: 800px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    /* Adjust for vertical centering */
    height: 50vh; /* Set height to 50% of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically within the container */
    align-items: center; /* Center content horizontally */

}


.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #111827;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    color: #6b7280;
    margin-bottom: 5px;
}

.required {
    color: red;
    margin-left: 4px;
}

.select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.select:focus {
    border-color: #60a5fa; /* Focus color */
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #60a5fa; /* Focus color */
}

.dataProcessing {
    font-size: 0.9rem;
    color: #6b7280;
}

.link {
    color: #3b82f6;
    text-decoration: underline;
}

.link:hover {
    color: #2563eb;
}

.submitButton {
    background-color: #3b82f6;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #2563eb;
}

.backButton {
    background-color: #3b82f6;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.backButton:hover {
    background-color: #2563eb;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 1.5rem;
    }

    .formGroup {
        margin-bottom: 20px;
    }

    .submitButton,
    .backButton {
        width: 100%;
    }
}

#fileUpload {
    border: none;
    padding: 8px 0;
    font-size: 1rem;
    color: #6b7280;
}
